<%= render partial: 'categories/categories_links_list', locals: {categories: @categories} %>

<% @items.each do |item| %>
  <p><%= item.title %> | <%= number_to_currency(item.price.to_f/100) %> | <%= button_to 'Add to Cart', line_items_path(item_id: item) %></p>
<% end %>
